.logo{
	width: 80px;
}
.block{
	padding-top: 5rem;
	padding-bottom: 2.5rem;
}
.c-flex{
	display: flex;
	justify-content: center;
}
.box.box--image.box--image--full-image .box__image:before{
	background: none;
}
.box.box--image,#features .col-sm-12{
	height: 48rem;
	max-width: 270px;
}
#features .row{
	justify-content: center;
}
#partners img{
	max-width: 300px;
}
.block .block__title{
	margin-bottom: 5rem;
}
#features .block .block__title{
	margin-bottom: 5rem;
}
.block .block__wrapper{
	padding-top: 2.5rem;
}
#hero .hero__caption h1{
	text-align: center;
}
.slider-nav{
	right: 45%;
	bottom: 8rem;
	background: #fff;
}
#hero .hero__background{
	top:125px;
}
.owl-next:hover, .owl-prev:hover {
/*    background-color: #02006B;*/
    color: #fff;
/*    opacity: 1;*/
}
.modal-content{
	flex-direction:row;
}
.modal-body{
	max-width: 60%;
}
.modal .modal-header {
    height: auto;
}
.modal .modal__carousel div{
	 background-size: cover;
}
.modal.fade .modal-dialog,.modal.show .modal-content{
	max-height: 700px;
	height: 100%;
}
#contact .container {
    max-width: 710px;
}
.person {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
label{
	font-weight: bold;
}
figure{
	margin-top: 2rem;
	text-align: right;
}
h4{
	margin-top: 1rem;
}
h2{
	    font-size: 4.6rem;
}
.center{
	display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}
.background--image, .img-into-bg{
	background-size: contain;
}
.person .img-into-bg{
	background-size: cover;
}
#text-image-block img{
	max-width: 230px;
}
@media (max-width: 480px) {
	.width-60,.width-40{
		width: 100%;
	}
	.modal-body{
		display: flex;
		flex-direction: column;
	}
}