.logo{
	width: 80px;
}
.block{
	padding-top: 5rem;
	padding-bottom: 2.5rem;
}

.box.box--image.box--image--full-image .box__image:before{
	background: none;
}
.box.box--image{
	height: 60rem;
}
#partners img{
	max-width: 300px;
}
.block .block__title{
	margin-bottom: 5rem;
}
#features .block .block__title{
	margin-bottom: 5rem;
}
.block .block__wrapper{
	padding-top: 2.5rem;
}
#hero .hero__caption h1{
	text-align: center;
}
.slider-nav{
	right: 50%;
	bottom: 2rem;
	background: #fff;
}
.modal-content{
	flex-direction:row;
}
.modal-body{
	max-width: 60%;
}
.modal .modal-header {
    height: auto;
}
.modal .modal__carousel div{
	 background-size: cover;
}
.modal.fade .modal-dialog,.modal.show .modal-content{
	max-height: 700px;
	height: 100%;
}
h2{
	    font-size: 4.6rem;
}
@media (max-width: 480px) {
	.width-60,.width-40{
		width: 100%;
	}
	.modal-body{
		display: flex;
		flex-direction: column;
	}
}